/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope:wght@400;700&display=swap'); */

@font-face {
  font-family: "Fraunces";
  src: url("./public/assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
  font-weight: 600 700;
}

@font-face {
  font-family: "Manrope";
  src: url("./public/assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
  font-weight: 400;
}

:root {
  --dark-purple: hsl(273, 85%, 13%);
  --eucaplytus: hsl(150, 100%, 63%);
  --davys-grey: hsl(271, 12%, 34%);
  --ghost-white: hsl(276, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --ff-header: 'Fraunces', serif;

  --fw-header: 600;

  /* h1 */
  --fs-heading-l-d: 5rem;
  --fs-heading-l-t: 3.75rem;
  --fs-heading-l-m: 3.125rem;
  --fs-heading-l: var(--fs-heading-l-d);

  --lh-heading-l-d: 5rem;
  --lh-heading-l-t: 3.75rem;
  --lh-heading-l-m: 3.125rem;
  --lh-heading-l: var(--lh-heading-l-d);

  /* h2 */
  --fs-heading-m-d: 3.5rem;
  --fs-heading-m-t: 3rem;
  --fs-heading-m-m: 2rem;
  --fs-heading-m: var(--fs-heading-m-d);

  --lh-heading-m-d: 4rem;
  --lh-heading-m-t: 3.5rem;
  --lh-heading-m-m: 3rem;
  --lh-heading-m: var(--lh-heading-m-d);

  /* h3 */
  --fs-heading-s-d: 2rem;
  --fs-heading-s-t: 1.75rem;
  --fs-heading-s: var(--fs-heading-s-d);

  --lh-heading-s-d: 2.5rem;
  --lh-heading-s-t: 2.25rem;
  --lh-heading-s: var(--lh-heading-s-d);

  /* round container font */
  --fs-heading-xs-d: 1.5rem;
  --fs-heading-xs-t: 1.25rem;
  --fs-heading-xs: var(--fs-heading-xs-d);

  --lh-heading-xs-d: 2.5rem;
  --lh-heading-xs-d: 2.25rem;
  --lh-heading-xs-d: var(--lh-heading-xs-d);

  /* p */
  --ff-paragraph: 'Manrope', sans-serif;
  --fw-paragraph: 400;

  --fs-paragraph-d: 1.125rem;
  --fs-paragraph-t: 1rem;
  --fs-paragraph: var(--fs-paragraph-d);

  --lh-paragraph-d: 2rem;
  --lh-paragraph-t: 1.75rem;
  --lh-paragraph: var(--lh-paragraph-d);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: var(--ff-paragraph);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-header);
  font-weight: var(--fw-header);
  font-variation-settings: 'opsz' 144;
}

h1 {
  color: var(--white);
  font-size: var(--fs-heading-l);
  line-height: var(--lh-heading-l);
}

h1 span {
  font-family: inherit;
}

h2 {
  font-size: var(--fs-heading-m);
  line-height: var(--lh-heading-m);
  color: var(--white);
}

h3 {
  font-size: var(--fs-heading-s);
  line-height: var(--lh-heading-s);
  color: var(--dark-purple);
}

p {
  font-size: var(--fs-paragraph);
  line-height: var(--lh-paragraph);
  color: var(--davys-grey);
}

.underline {
  display: inline-block;
  border-bottom: .1875rem solid var(--eucaplytus);
}

.container {
  --max-width: 69.375rem;
  --side-margins: 2.5rem;

  width: min(var(--max-width), 100% - (var(--side-margins) * 2));
  margin-inline: auto;
}

header {
  background-color: var(--dark-purple);
  z-index: 1;
  position: relative;
  border-bottom-left-radius: 100% 10%;
  border-bottom-right-radius: 100% 10%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding-block-start: 3.5rem;
}

.hero {
  margin-inline: auto;
  position: relative;
  padding-block-end: 19rem;
  padding-block-end: 30vh;

}

.hero-text-container {
  margin-block-start: 4.0625rem;
  max-width: 39.6875rem;
  text-align: center;
  margin-inline: auto;
}

.hero-text-container .btn2 {
  margin-block-start: 2.3125rem;
}

.hero-img-container {
  margin-block-start: 50px;
  position: absolute;
  z-index: 1;
}

.hero-img-container img {
  max-width: 65%;
  max-height: 100%;
  display: block;
  margin-inline: auto;
}

#first-bg-pattern,
#second-bg-pattern {
  position: absolute;
  z-index: 10;
}

#first-bg-pattern {
  top:  10%;
  left: -8.625rem;
}

#second-bg-pattern {
  top: 19.625rem;
  right: -3rem;
}

.benefits {
  position: relative;
  top: -50px;
  padding-block-start: 15.9375rem;
  padding-block-end: 110px;
  background-color: var(--ghost-white);
  z-index: 0;
  border-bottom-left-radius: 100% 10%;
  border-bottom-right-radius: 100% 10%;
}

.columns {
  display: flex;
}

.column {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.column h3 {
  margin-block-start: 3.5rem;
}

.column p {
  margin-block-start: 1.75rem;
}

.round-number {
  border-radius: 50%;
  border: .0625rem solid var(--davys-grey);
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-header);
  font-size: var(--fs-heading-xs);
  color: var(--davys-grey);
  margin-inline: auto;
}

.btn1 {
  cursor: pointer;
  background-color: transparent;
  color: var(--white);
  border: 0;
  border-bottom: 3px solid var(--eucaplytus);
}

.btn1:hover {
  color: var(--eucaplytus);
}

.btn2 {
  font-weight: 700;
  cursor: pointer;
  background-color: var(--eucaplytus);
  color: var(--dark-purple);
  border: .125rem solid var(--eucaplytus);
  padding: 1rem 2rem;
}

.btn2:hover {
  color: var(--eucaplytus);
  background-color: var(--dark-purple);
}



/* tablet */
@media (max-width: 50rem) {
  :root {
    /* h1 */
    --fs-heading-l: var(--fs-heading-l-t);
    --lh-heading-l: var(--lh-heading-l-t);

    /* h2 */
    --fs-heading-m: var(--fs-heading-m-t);
    --lh-heading-m: var(--lh-heading-m-t);

    /* h3 */
    --fs-heading-s: var(--fs-heading-s-t);
    --lh-heading-s: var(--lh-heading-s-t);

    /* round container font */
    --fs-heading-xs: var(--fs-heading-xs-t);
    --lh-heading-xs-d: var(--lh-heading-xs-t);

    /* p */
    --fs-paragraph: var(--fs-paragraph-t);
    --ls-paragraph: var(--ls-paragraph-t);
  }

  .round-number {
    height: 3rem;
    width: 3rem;
  }

  .columns {
    flex-direction: column;
  }

  .column {
    flex-direction: row;
  }
  .column-text {
    text-align: left;
    margin-left: 2rem;
  }
}

/* mobile */
@media (max-width: 37.5rem) {
  :root {
    /* h1 */
    --fs-heading-l: var(--fs-heading-l-m);
    --lh-heading-l: var(--lh-heading-l-m);

    /* h2 */
    --fs-heading-m: var(--fs-heading-m-m);
    --lh-heading-m: var(--lh-heading-m-m);
  }

  .container {
    --side-margins: 1rem;
  }

  .column {
    flex-direction: column;
  }

}